[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
supabase = "*"
python-dotenv = "*"
apscheduler = "*"
pydantic = "*"
loguru = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.12"
